In [1]:
# Imports required libraries
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
import hvplot
from pathlib import Path

%matplotlib inline

In [2]:
load_dotenv()

Python-dotenv could not parse statement starting at line 2
Python-dotenv could not parse statement starting at line 4
Python-dotenv could not parse statement starting at line 5
Python-dotenv could not parse statement starting at line 6
Python-dotenv could not parse statement starting at line 7
Python-dotenv could not parse statement starting at line 8
Python-dotenv could not parse statement starting at line 9
Python-dotenv could not parse statement starting at line 15
Python-dotenv could not parse statement starting at line 16
Python-dotenv could not parse statement starting at line 17
Python-dotenv could not parse statement starting at line 18
Python-dotenv could not parse statement starting at line 19
Python-dotenv could not parse statement starting at line 21
Python-dotenv could not parse statement starting at line 22
Python-dotenv could not parse statement starting at line 23
Python-dotenv could not parse statement starting at line 24
Python-dotenv could not parse statement starting at line 26
Python-dotenv could not parse statement starting at line 27
Python-dotenv could not parse statement starting at line 28
Python-dotenv could not parse statement starting at line 29
Python-dotenv could not parse statement starting at line 30
Python-dotenv could not parse statement starting at line 31
Python-dotenv could not parse statement starting at line 34
Python-dotenv could not parse statement starting at line 35

True

In [3]:
# Sets keys
alpaca_api = os.getenv("ALPACA_API_KEY")
alpaca_secret = os.getenv("ALPACA_SECRET_KEY")
type(alpaca_api)
type(alpaca_secret)

NoneType

In [4]:
# Reads the S&P 500 data into a dataframe
sp500 = pd.read_csv(
    Path("Resources/Download Data - INDEX_US_S&P US_SPX.csv"),
    index_col="Date",
    parse_dates=True,
    infer_datetime_format=True
)

In [5]:
# Displays the data
display(sp500.head())
display(sp500.tail())

                Open      High       Low     Close
Date
2022-05-10  4,035.18  4,068.82  3,958.17  4,001.05
2022-05-09  4,081.27  4,081.27  3,975.48  3,991.24
2022-05-06  4,128.17  4,157.69  4,067.91  4,123.34
2022-05-05  4,270.43  4,270.43  4,106.01  4,146.87
2022-05-04  4,181.18  4,307.66  4,148.91  4,300.17

                Open      High       Low     Close
Date
2021-05-14  4,129.58  4,183.13  4,129.58  4,173.85
2021-05-13  4,074.99  4,131.58  4,074.99  4,112.50
2021-05-12  4,130.55  4,134.73  4,056.88  4,063.04
2021-05-11  4,150.34  4,162.04  4,111.53  4,152.10
2021-05-10  4,228.29  4,236.39  4,188.13  4,188.43

In [6]:
# Checks for null values in the data
sp500.isnull().sum()

Open     0
High     0
Low      0
Close    0
dtype: int64

In [7]:
# Cleans and prepares the data for the dataframe
sp500.loc[:, 'Open'] = sp500.loc[:, 'Open'].str.replace(",", "")
sp500.loc[:, 'High'] = sp500.loc[:, 'High'].str.replace(",", "")
sp500.loc[:, 'Low'] = sp500.loc[:, 'Low'].str.replace(",", "")
sp500.loc[:, 'Close'] = sp500.loc[:, 'Close'].str.replace(",", "")

# Confirms cleaning of data
sp500.head()

               Open     High      Low    Close
Date
2022-05-10  4035.18  4068.82  3958.17  4001.05
2022-05-09  4081.27  4081.27  3975.48  3991.24
2022-05-06  4128.17  4157.69  4067.91  4123.34
2022-05-05  4270.43  4270.43  4106.01  4146.87
2022-05-04  4181.18  4307.66  4148.91  4300.17

In [8]:
# Changes all data types to float
sp500.loc[:, 'Open'] = sp500.loc[:, 'Open'].astype('float')
sp500.loc[:, 'High'] = sp500.loc[:, 'High'].astype('float')
sp500.loc[:, 'Low'] = sp500.loc[:, 'Low'].astype('float')
sp500.loc[:, 'Close'] = sp500.loc[:, 'Close'].astype('float')

# Confirms data type conversion
sp500.dtypes

Open     float64
High     float64
Low      float64
Close    float64
dtype: object